$grey: #818181;
$lightblue: #deeaf8;
$slightlightblue: #88bfff;
$blue: #73b4ff;
$mediumblue: #6ca9ee;
$darkblue: #6195cf;
$grey: #818181;
$lightred: #ffe4e4;
$red: #ed7b7b;
$darkred: #bc4142;
$green: #4dd964;
$white: #fff;
$black: #000;

// Infinite colors
$lightgrey: #7c7c7c;
$lightergrey: #c4c4c4;
$darkgrey: #1c1c1c;
$darkerblue: #010306;
$base: #0e0e0e;
$yellow: #ddf874;
$darkyellow: #a8c039;

// Greyscale
$grey-50: rgba(255, 255, 255, 0.05);
$grey-100: rgba(255, 255, 255, 0.1);
$grey-200: rgba(255, 255, 255, 0.2);
$grey-300: rgba(255, 255, 255, 0.3);
$grey-400: rgba(255, 255, 255, 0.4);
$grey-500: rgba(255, 255, 255, 0.5);
$grey-600: rgba(255, 255, 255, 0.6);
$grey-700: rgba(255, 255, 255, 0.7);
$grey-800: rgba(255, 255, 255, 0.8);
$grey-900: rgba(255, 255, 255, 0.9);
$grey-950: rgba(255, 255, 255, 0.95);
