$grey: #818181;
$lightblue: #deeaf8;
$slightlightblue: #88bfff;
$blue: #73b4ff;
$mediumblue: #6ca9ee;
$darkblue: #6195cf;
$grey: #818181;
$lightred: #ffe4e4;
$red: #ed7b7b;
$darkred: #bc4142;
$green: #4dd964;
$white: #fff;
$black: #000;

// Infinite colors
$lightgrey: #7c7c7c;
$lightergrey: #c4c4c4;
$darkgrey: #1c1c1c;
$yellow: #ddf873;
